<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Climate Solutions</title>
  <link rel="stylesheet" href="/css/main.css" />

</head>

<body tabindex="-1">
    <%- include('partials/navbar', { page: "" }) %>



  <br />

  <div class="container mx-auto">

    <div class="hero bg-base-200 rounded-lg p-6">
      <div class="hero-content text-center ">
        <div class="max-w-md">
          <h1 class="text-5xl font-bold"><%= project.title %></h1>

          <p class="py-6">Below, you will find detailed information about the project: <%= project.title %>.</p>

        </div>
      </div>
    </div>

    <br />

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <div>
        <img class="w-full rounded-lg"
          src="/images/profile-pic.jpg"
          alt="profile" />

      </div>
      <div class="prose">

         <p><%= project.intro_short %></p>
         <br>
        
         <span class="font-bold">Impact: </span>
         <p><%= project.impact %></p>
         <br>
         <span class="font-bold">More Information: </span>
         <p><a href="<%= project.original_source_url %>"><%= project.original_source_url %></a></p>

         <div id="quote-container">
            <p id="quote"></p>
            <p id="author"></p>
        </div>
            
          <script>
    
          document.addEventListener("DOMContentLoaded", () => {
            fetch('https://dummyjson.com/quotes/random')
              .then(response => response.json())
              .then(data => {
                document.getElementById('quote').textContent = `"${data.quote}"`;
                document.getElementById('author').textContent = `- ${data.author}`;
              })
              .catch(error => {
                console.error('Error fetching quote:', error);
                document.getElementById('quote').textContent = 'Failed to load quote';
              });
          });
          </script>
            <a class="btn btn-primary btn-sm" href="#" onclick="history.back(); 
            return false;">RETURN</a>

        </div>

    </div>

  </div>
</body>

</html>