<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Climate Solutions</title>
  <link rel="stylesheet" href="/css/main.css" />

</head>

<body tabindex="-1">
  <%- include('partials/navbar', { page: "" }) %>
  <div class="container mx-auto p-4">
    <div class="hero bg-base-200 rounded-lg p-6">
      <div class="hero-content text-center ">
        <div class="max-w-lg">
          <h1 class="text-5xl font-bold">Projects</h1>

          <p class="py-6">Browse the current list of Projects in our database. Click the theme to filter by sectors such as:
            <br />
            <br />
            <a href="/solutions/projects?sector=ind" class="btn btn-primary btn-xs">Industry</a>  &nbsp;&nbsp;  
            <a href="/solutions/projects?sector=transportation" class="btn btn-primary btn-xs">Transportation</a>  &nbsp;&nbsp;
            <a href="/solutions/projects?sector=electricity" class="btn btn-primary btn-xs">Electricity</a> 
          </p>

        </div>
      </div>
    </div>
  </div>

  <div class="container mx-auto p-4">
    <table class="table table-zebra" >
      
        <tbody>
            <% projects.forEach(project => { %>
                <tr>
                    <td><%= project.title %></td>
                    <td><a href="/solutions/projects?sector=<%= project.Sector.sector_name %>" class="btn"><%= project.Sector.sector_name %></a></td>
                    <td><%= project.summary_short %></td>
                    <td><a href="/solutions/projects/<%= project.id %>" class="btn">Details</a></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>


</body>

</html>